html {
  box-sizing: border-box;
}

body {
  background-color: #dbcfb4;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  color: rgb(3, 13, 73);
}

h1 {
  border: 10px solid #8d3bba;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 50px 30px #ff0000;
  -moz-box-shadow: 0px 0px 50px 30px #ff0000;
  box-shadow: 0px 0px 50px 30px #ff0000;
}

.photo {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

main {
  margin: 5px;
}

section {
  background: #f6f3ed;
  margin: 5px;
  padding: 10px;
  border: 3px dashed orange;
}

nav {
  background-color: aquamarine;
  margin: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
}

li.selection {
  background-color: #f00;
}
